In [5]:
## Import the data

import json
import pandas as pd

data = json.load(open('final_data.json'))

df = pd.DataFrame(data)

df

,FacilityID,CampsiteType,TypeOfUse,Loop,CampsiteAccessible,CampsiteLongitude,CampsiteLatitude,LastUpdatedDate
0,232446,RV,Overnight,C,False,-119.683914,37.550125,2023-05-24
1,232709,RV,Overnight,REYNOLDS CREEK,False,-97.264983,31.586164,2022-09-14
2,250877,Shelter,Overnight,Standard Site,False,-115.384760,36.130110,2020-10-15
3,252470,Tent,Overnight,Dundo Group Campground,False,-78.717593,38.235217,2022-06-29
4,10001451,Tent,Overnight,Main Loop,False,-93.345717,36.040823,2021-04-24
...,...,...,...,...,...,...,...,...
1656,252971,Tent,Overnight,Paw Paw Tunnel Campsite,False,-78.461452,39.544791,2022-06-29
1657,251975,Hike,Overnight,FREIGHTERVIEW CAMPSITE on GRAND ISLAND,False,-86.652933,46.556736,2022-06-29
1658,252282,Cabin,Overnight,CRESCENT LAKE GUARD STATION,False,-121.970000,43.501111,2022-06-29
1659,251960,Shelter,Day,Shenango Lake Mahaney Outflow Riverview Picnic...,False,-80.465753,41.265766,2022-06-29
1660,251941,Shelter,Overnight,Sand Island Group Sites,False,0.000000,0.000000,2022-06-29

In [6]:
## delete unused columns

df = df[['FacilityID', 'CampsiteLongitude', 'CampsiteLatitude']]

In [7]:
## Find center point of the continual 48 states
# cp = 39.50, -98.35

In [8]:
## Use cp to create nw dataframe

nw_df = df[df['CampsiteLatitude']>39.50]
nw_df = df[df['CampsiteLongitude']<-98.35]
nw_df

     FacilityID  CampsiteLongitude  CampsiteLatitude
0        232446        -119.683914         37.550125
2        250877        -115.384760         36.130110
8        261696        -111.990061         46.993093
10       264411        -109.858197         43.312133
11     10004152        -119.602640         37.741599
...         ...                ...               ...
1646     252280        -109.674383         38.205387
1653     253458        -132.647219         56.395000
1654     253500        -111.388856         46.608417
1655     253198        -113.790989         48.168528
1658     252282        -121.970000         43.501111

[879 rows x 3 columns]

In [9]:
## Use cp to create ne dataframe

ne_df = df[df['CampsiteLatitude']>39.50]
ne_df = df[df['CampsiteLongitude']>-98.35]
ne_df

     FacilityID  CampsiteLongitude  CampsiteLatitude
1        232709         -97.264983         31.586164
3        252470         -78.717593         38.235217
4      10001451         -93.345717         36.040823
5        259242           0.000000          0.000000
6        233478         -89.354400         38.616093
...         ...                ...               ...
1652     251972         -86.645381         46.483500
1656     252971         -78.461452         39.544791
1657     251975         -86.652933         46.556736
1659     251960         -80.465753         41.265766
1660     251941           0.000000          0.000000

[782 rows x 3 columns]

In [10]:
## Use cp to create sw dataframe

sw_df = df[df['CampsiteLatitude']<39.50]
sw_df = df[df['CampsiteLongitude']<-98.35]
sw_df

     FacilityID  CampsiteLongitude  CampsiteLatitude
0        232446        -119.683914         37.550125
2        250877        -115.384760         36.130110
8        261696        -111.990061         46.993093
10       264411        -109.858197         43.312133
11     10004152        -119.602640         37.741599
...         ...                ...               ...
1646     252280        -109.674383         38.205387
1653     253458        -132.647219         56.395000
1654     253500        -111.388856         46.608417
1655     253198        -113.790989         48.168528
1658     252282        -121.970000         43.501111

[879 rows x 3 columns]

In [11]:
## Use cp to create se dataframe

se_df = df[df['CampsiteLatitude']<39.50]
se_df = df[df['CampsiteLongitude']>-98.35]
se_df

     FacilityID  CampsiteLongitude  CampsiteLatitude
1        232709         -97.264983         31.586164
3        252470         -78.717593         38.235217
4      10001451         -93.345717         36.040823
5        259242           0.000000          0.000000
6        233478         -89.354400         38.616093
...         ...                ...               ...
1652     251972         -86.645381         46.483500
1656     252971         -78.461452         39.544791
1657     251975         -86.652933         46.556736
1659     251960         -80.465753         41.265766
1660     251941           0.000000          0.000000

[782 rows x 3 columns]

In [12]:
## Export JSON and CSV Files

nw_df.to_json('NorthWest.json', orient='records')
nw_df.to_csv('NorthWest.csv', index = False)

ne_df.to_json('NorthEast.json', orient='records')
ne_df.to_csv('NorthEast.csv', index = False)

sw_df.to_json('SouthWest.json', orient='records')
sw_df.to_csv('SouthWest.csv', index = False)

se_df.to_json('SouthEast.json', orient='records')
se_df.to_csv('SouthEast.csv', index = False)